@model IEnumerable<Stock_Trade_1.Models.Transaction>
@using Stock_Trade_1.Models
@{
    Layout = null;
   // var balance = ((Transaction)Session["Transaction"]);
}

<!DOCTYPE html>
<html lang="en">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")
<head>
    <meta charset="utf-8">
    <title>Aurum Investment</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/stylead.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="css/stylead.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <i class="fas fa-donate" style="height:50px;width:50px;"></i>
                <a href="@Url.Action("Index","Home")" class="navbar-brand mx-4 mb-3">
                    <h3 style="color:darkgoldenrod">AURUM</h3>
                </a>

                <div class="navbar-nav w-100">
                    <a href="@Url.Action("Admin_page_Transactions","Home")" class="nav-item nav-link"><i class="fas fa-money-bill-wave"></i>Transactions</a>
                    <a href="@Url.Action("Index","Home")" class="nav-item nav-link "><i class="fas fa-file"></i>Home</a>
                    <a href="@Url.Action("Admin_page_Traders","Home")" class="nav-item nav-link"><i class="fas fa-coins"></i>Traders</a>
                    <a href="@Url.Action("Admin_page_Customers","Home")" class="nav-item nav-link"><i class="fas fa-address-card"></i>Customers</a>
                </div>
        </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>


            <div class="navbar-nav align-items-center ms-auto">




            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <h2 style="color:darkblue;"> Total Transactions </h2>
                            <h1 style="color:darkblue;">@ViewBag.transaction </h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <h2 style="color:darkblue;">
                                Assets Under Management
                            </h2>
                            <h1 style="color:darkblue;">@ViewBag.asset $</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <h2 style="color:darkblue;"> Total Members </h2>
                            <h1 style="color:darkblue;">@ViewBag.members</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <h2 style="color:darkblue;"> Total Stocks </h2>
                            <h1 style="color:darkblue;"> @ViewBag.stocks</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->
        <!-- Sales Chart Start -->
        <!-- Sales Chart End -->
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Transactions</h6>

                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-white">
                                <th> @Html.ActionLink("PDF", "Transactions_Report", new { id = 1 }, new { @class = "stock-buy1" })</th>
                                                  
                                <th> @Html.ActionLink("Excel", "Transactions_Report", new { id = 2 }, new { @class = "stock-buy2" })</th>
                            
                            
                            </tr>
                            <tr class="text-white">
                                <th scope="col">Transaction ID</th>
                                <th scope="col">Trader Name</th>
                                <th scope="col">Stock Name</th>
                                <th scope="col">Transaction Value</th>
                                <th scope="col">Transaction Type</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Transaction_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trader.Customer.Customer_user_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock.Stock_name)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Transaction_value)$</td>
                                <td> @Html.DisplayFor(modelItem => item.Transaction_Type)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
        

        <!-- Widgets Start -->
        
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>